<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1200, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Home{% endblock %} :: phplrt</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <meta http-equiv="x-dns-prefetch-control" content="on" />

    <link rel="dns-prefetch" href="https://phplrt.org" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,400;0,700;1,400&display=swap" rel="stylesheet" />

    <link rel="shortcut icon" href="/favicon/x32.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="/favicon/x32.png" />
    <link rel="apple-touch-icon" sizes="64x64" href="/favicon/x64.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="/favicon/x128.png" />
</head>
<body>
    {% block content %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% include "partials/yandex.html.twig" %}
</body>
</html>
