<footer class="footer">
    <nav>
        <a href="https://github.com/railt/railt/blob/master/LICENSE.md" target="_blank" rel="nofollow">License</a>
        <span>&middot</span>
        <a href="https://github.com/railt" target="_blank" rel="nofollow">GitHub</a>
    </nav>
    <address>Copyright © Kirill Nesmeyanov</address>
</footer>
