<footer class="footer">
    <nav>
        <a href="https://github.com/phplrt/phplrt/blob/master/LICENSE.md" target="_blank" rel="nofollow">License</a>
        <span>&middot</span>
        <a href="https://github.com/phplrt" target="_blank" rel="nofollow">GitHub</a>
    </nav>
    <address>Copyright © Kirill Nesmeyanov</address>
</footer>
