{% if page is not defined %}
    {% set page = '' %}
{% endif %}

{% if page != "docs" %}
<header class="header" data-vm="HeaderViewModel" data-bind="css: { sticky: sticky }">
    <section class="container">
        <a href="/" class="logo">
            <h1>Railt GraphQL Framework</h1>
        </a>

        <nav class="menu">
            <a href="/docs" {% if page == 'docs' %}class="active"{% endif %}>Docs</a>
            <a href="https://github.com/railt/railt" target="_blank" rel="nofollow">Source</a>
        </nav>
    </section>
</header>
{% endif %}
