/**
 * Base variables list
 */
@import "kernel/variables";

@import "kernel/font-awesome/variables";
@import "kernel/font-awesome/mixins";

/**
 * Color variables list
 */
@import "kernel/colors";

/**
 * ELUI Variables
 */
$--color-primary: $color-purple;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--tooltip-fill: $color-bg-dark-alter;

@import "~element-ui/packages/theme-chalk/src/common/var";


/**
 * Font variables and mixins
 */
@import "kernel/font";

/**
 * Media queries support
 */
@import "kernel/media";

/**
 * Other mixins
 */
@import "kernel/support";
