@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic');

@import "kernel";
@import "~element-ui/packages/theme-chalk/src/index";


html,
body {
  @include font-optimize;
  overflow-x: hidden;
  color: $color-text;
  line-height: $ui-min-height;
  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  font-size: $font-size;
  font-family: $font-family;
  hyphens: auto;
  padding: 0;
  margin: 0;

  a {
    color: $color-link;
    outline: none;
    text-decoration: none;
    text-decoration-skip: ink;

    &:active,
    &:hover {
      color: $color-link-active;
      background: none;
      text-decoration: underline;
    }

    &.dashed {
      text-decoration: none;
      border-bottom: 1px dashed transparent;
      &:active,
      &:hover {
        text-decoration: none;
        border-bottom: 1px dashed $color-link-active;
      }
    }
  }

  pre, code {
    font: {
      size: $font-size;
      family: $font-mono;
    }
  }

  code {
    border-radius: 2px;
    padding: 2px 6px;
    box-sizing: border-box;
    line-height: $ui-min-height;
    height: $ui-min-height;
    color: inherit;
    font-size: 90%;
  }

  pre {
    overflow: auto;
  }

  pre > code {
    display: block;
    white-space: pre;
    padding: 10px $ui-padding;
    height: auto;
    border-radius: 0 2px 2px 0;
    line-height: $font-size + 6px;
  }

  ul {
    li {
      list-style: square;
      margin: 4px 0;
    }
  }

  hr {
    border: none;
    margin: 10px 0;
    display: block;
    height: 1px;
    background: $color-border;
  }

  q {
    quotes:  "«" "»";
  }

  abbr {
    cursor: help;
    border-bottom: none;
  }

  .color {
    &-red    { color: $color-red;    }
    &-orange { color: $color-orange; }
    &-yellow { color: $color-yellow; }
    &-green  { color: $color-green;  }
    &-blue   { color: $color-blue;   }
    &-purple { color: $color-purple; }
    &-pink   { color: $color-pink;   }
    &-black  { color: #2d2f33;       }
    &-white  { color: #fff;          }
    &-gray   { color: $color-text-placeholder; }
  }

  @import "partials/outdated";
  @import "partials/sections";

  @import "ui/el";
  @import "ui/headings";
  @import "ui/table";
  @import "ui/prism";
}

body {
  overflow: visible;
  opacity: 0;
  &.loaded {
    transition: opacity .05s ease;
    opacity: 1;
  }
}
