/**
 * --------------------------------------------------------------------------------------
 *  Grayscale colors list
 * --------------------------------------------------------------------------------------
 */

$color-black:               #1f2d3d !default;
$color-light-black:         #324057 !default;
$color-extra-light-black:   #475669 !default;
$color-silver:              #8492a6 !default;
$color-light-silver:        #99a9bf !default;
$color-extra-light-silver:  #c0ccda !default;
$color-gray:                #d3dce6 !default;
$color-light-gray:          #e5e9f2 !default;
$color-extra-light-gray:    #eff2f7 !default;
$color-dark-white:          #f9fafc !default;
$color-white:               #fff !default;

$color-bg:                  $color-extra-light-gray !default;

$color-main:                #65429a !default;
$color-main-alter:          #50337d !default;
$color-success:             #8eb245 !default;

$color-text:                $color-black !default;
$color-description:         $color-extra-light-black !default;
