/**
 * --------------------------------------------------------------------------------------
 *  Main named colors
 * --------------------------------------------------------------------------------------
 */
$color-red:     #ff2d20 !default;
$color-orange:  #f4645f !default;
$color-yellow:  #d9a910 !default;
$color-green:   #28bc00 !default;
$color-blue:    #64b5f6 !default;
$color-purple:  #a184d5 !default;
$color-pink:    #ba6380 !default;

/**
 * --------------------------------------------------------------------------------------
 *  Grayscale colors list
 * --------------------------------------------------------------------------------------
 */

$color-black:               adjust-hue(#1f2d3d, 20deg) !default;
$color-light-black:         adjust-hue(#324057, 20deg) !default;
$color-extra-light-black:   adjust-hue(#475669, 20deg) !default;
$color-silver:              adjust-hue(#8492a6, 20deg) !default;
$color-light-silver:        adjust-hue(#99a9bf, 20deg) !default;
$color-extra-light-silver:  adjust-hue(#c0ccda, 20deg) !default;
$color-gray:                adjust-hue(#d3dce6, 20deg) !default;
$color-light-gray:          adjust-hue(#e5e9f2, 20deg) !default;
$color-extra-light-gray:    adjust-hue(#eff2f7, 20deg) !default;
$color-dark-white:          adjust-hue(#f9fafc, 20deg) !default;
$color-white:               adjust-hue(#fff   , 20deg) !default;

$color-bg:                  $color-extra-light-gray !default;

$color-main:                #65429a !default;
$color-main-alter:          #50337d !default;
$color-success:             #8eb245 !default;

$color-text:                $color-black !default;
$color-description:         $color-extra-light-black !default;
