.token.comment,
.token.prolog,
.token.whitespace,
.token.cdata {
    color: $color-text-placeholder;
}


.token.doctype,
.token.docblock {
    color: $color-text-secondary;
}

.token.tag,
.token.number {
    color: $color-pink;
}



.token.operator {
    color: inherit !important;
}

.token.property,
.token.function {
    color: #8873f2;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
    color: #eeebff;
}

code.language-javascript,
.token.attr-name {
    color: #8873f2;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
    color: $color-green;
}

.token.keyword {
    color: $color-yellow;
}

.token.string {
    color: $color-red;
}

.token.placeholder,
.token.variable {
    color: $color-green;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #eeebff;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: $color-blue;
}

.token.entity {
    cursor: help;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
    border-right-color: #2c2937;
}

.line-numbers-rows > span:before {
    color: #3c3949;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
    background: rgba(224, 145, 66, 0.2);
    background: -webkit-linear-gradient(left, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
    background: linear-gradient(to right, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
}
