.content {
  max-width: $ui-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
  @include clear;

  &.min,
  .min {
    max-width: 640px;
    margin: 0 auto;
  }
}

.section {
  padding: 50px 0;
  overflow: hidden;

  &.alter {
    background: $color-bg;
    .el-card {
      border: none;
      box-shadow: $ui-box-shadow-dark;
    }
  }
}
