{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include "partials/header.html.twig" %}

    <section class="splash container-full" data-vm="SplashViewModel">
        <section class="container">
            <div class="pc"></div>
            <h1 data-bind="style: { top: `${firstLayerY()}px` }, html: title">Railt GraphQL Framework</h1>
            <h2 data-bind="style: { top: `${firstLayerY()}px` }, css: { ready: ready }">for PHP</h2>
            <code class="composer" data-bind="style: { top: `${secondLayerY()}px` }">
                <span></span>
                $ composer require --dev railt/railt
            </code>
        </section>
    </section>
{% endblock %}
