@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i|Fira+Mono:400,700&subset=cyrillic');

@import "~normalize-scss/sass/normalize";
@import "kernel";

html {
    min-width: map-get($grid-breakpoints, sm);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    @include font-optimize;
    color: $color-text;
    line-height: 32px;
    width: 100%;
    min-height: 100vh;
    font-size: $font-size;
    font-family: $font-family;
    hyphens: auto;
    padding: 0;
    margin: 0;
    background: $color-dark-white;
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollbar;

    &.white {
        background: #fff;
    }

    &.fixed {
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    &.loaded {
        opacity: 1 !important;
        transition: opacity .1s ease;
    }

    button {
        font-family: $font-family;
        font-size: $font-size;
    }
}

main {
    overflow: visible;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .main {
        flex: 1;
    }
}

@import "ui/links";
@import "ui/button";
@import "ui/blockquotes";
@import "ui/headings";
@import "ui/transitions";
@import "ui/code";
