/**
 * --------------------------------------------------------------------------------------
 *  Main named colors
 * --------------------------------------------------------------------------------------
 */
$color-red:             #fa5555 !default;
$color-light-red:       lighten(#fa5555, 20%) !default;
$color-dark-red:        lighten(#fa5555, 20%) !default;
$color-orange:          #f4645f !default;
$color-light-orange:    lighten(#f4645f, 20%) !default;
$color-dark-orange:     darken(#f4645f, 20%) !default;
$color-yellow:          #e09205 !default;
$color-light-yellow:    lighten(#e09205, 20%) !default;
$color-dark-yellow:     darken(#e09205, 20%) !default;
$color-green:           #7eae4a !default;
$color-light-green:     lighten(#7eae4a, 20%) !default;
$color-dark-green:      darken(#7eae4a, 20%) !default;
$color-blue:            #64b5f6 !default;
$color-light-blue:      lighten(#64b5f6, 20%) !default;
$color-dark-blue:       darken(#64b5f6, 20%) !default;
$color-purple:          #6f4ca5 !default;
$color-light-purple:    lighten(#6f4ca5, 20%) !default;
$color-dark-purple:     darken(#6f4ca5, 20%) !default;
$color-pink:            #ba6380 !default;
$color-light-pink:      lighten(#ba6380, 20%) !default;
$color-dark-pink:       darken(#ba6380, 20%) !default;

/**
 * --------------------------------------------------------------------------------------
 *  Grayscale colors list
 * --------------------------------------------------------------------------------------
 */
$color-black:               #1f2d3d !default;
$color-light-black:         #3b444f !default;
$color-extra-light-black:   #475669 !default;
$color-silver:              #8492a6 !default;
$color-light-silver:        #99a9bf !default;
$color-extra-light-silver:  #b4bccc !default;
$color-gray:                #d3dce6 !default;
$color-light-gray:          #e5e9f2 !default;
$color-extra-light-gray:    #eff2f7 !default;
$color-dark-white:          #fafbfc !default;
$color-white:               #fff !default;

/**
 * --------------------------------------------------------------------------------------
 *  Semantic color names
 * --------------------------------------------------------------------------------------
 */
$color-bg:            $color-white;                         // UI background support color
$color-bg-dark:       $color-light-black;                   // UI dark background support color
$color-text:          rgba($color-extra-light-black, .95);  // Main text color
$color-description:   $color-extra-light-silver;            // Main description color
$color-border:        $color-light-gray;                    // Elements border color
$color-border-hover:  $color-gray;                          // Element border color while element is hovered
$color-border-focus:  $color-orange;                        // Element border color while element is focused
$color-link:          $color-purple;                        // Links and active elements
$color-link-active:   darken($color-purple, 20%);

//
// Disabled components
//
$color-disabled-border: $color-extra-light-silver;    // Borders color
$color-disabled-body:   $color-light-silver;          // Text inside disabled element
$color-disabled-bg:     $color-light-gray;            // Background color of disabled element
$color-disabled-text:   $color-extra-light-silver;    // Text outside disabled element

//
// Disabled "filled" components
//
$color-disabled-filled-border: $color-light-silver;        // Borders color
$color-disabled-filled-body:   $color-dark-white;          // Text inside disabled element
$color-disabled-filled-bg:     $color-light-silver;        // Background color of disabled element
$color-disabled-filled-text:   $color-extra-light-silver;  // Text outside disabled element

//
// Main color
//
$color-main: $color-purple !default;
$color-main-hover: lighten($color-main, 2%) !default;
$color-main-text: desaturate(darken($color-main, 5%), 15%) !default;

//
// Color for "danger" elements, like "Alert Label"
//
$color-alert: $color-red !default;
$color-alert-hover: lighten($color-red, 2%) !default;
$color-alert-text: desaturate(darken($color-red, 5%), 15%) !default;

//
// Color for warnings
//
$color-warning: $color-yellow !default;
$color-warning-hover: lighten($color-yellow, 2%) !default;
$color-warning-text: desaturate(darken($color-yellow, 5%), 15%) !default;

//
// Color for successful notifications
//
$color-success: $color-green !default;
$color-success-hover: lighten($color-green, 2%) !default;
$color-success-text: desaturate(darken($color-green, 5%), 15%) !default;

//
// Shadows
//
$ui-box-shadow: 0 2px 10px rgba($color-black, .3) !default;

/**
 * --------------------------------------------------------------------------------------
 *  Scrollbars
 * --------------------------------------------------------------------------------------
 */
$scroll-bg: #fff;
$scroll-bg-hover: #eff3f5;
$scroll-track: $color-border;
$scroll-track-active: darken($color-border, 10%);
$scroll-track-inactive: lighten($color-border, 5%);

