/**
 * --------------------------------------------------------------------------------------
 *  Main named colors
 * --------------------------------------------------------------------------------------
 */
$color-red: #fa5555 !default;
$color-orange: #f4645f !default;
$color-yellow: #e09205 !default;
$color-green: #67c23a !default;
$color-blue: #64b5f6 !default;
$color-purple: #6f4ca5 !default;
$color-pink: #ba6380 !default;

/**
 * --------------------------------------------------------------------------------------
 *  Main colors list
 * --------------------------------------------------------------------------------------
 */

// Text
$color-text-primary: #3c3e42;
$color-text: rgba($color-text-primary, .8);

$color-text-regular: #5a5e66;
$color-text-secondary: #878d99;
$color-text-placeholder: #b4bccc;

// Text inverse
$color-inv-text-primary: #edf2fc;
$color-inv-text: $color-text-primary;

$color-inv-text-regular: #e6ebf5;
$color-inv-text-secondary: #dfe4ed;
$color-inv-text-placeholder: #d8dce5;

// Borders
$color-border-primary: #d8dce5;
$color-border: $color-border-primary;

$color-border-regular: #dfe4ed;
$color-border-secondary: #e6ebf5;
$color-border-lighten: #eff2f5;

// Links and active elements
$color-link: $color-purple;
$color-link-active: darken($color-purple, 20%);

/**
 * --------------------------------------------------------------------------------------
 *  Semantic
 * --------------------------------------------------------------------------------------
 */
$color-bg: #f9f9f9;
$color-bg-dark: #171e26;
$color-bg-dark-alter: #2a2e38;

//
$color-main: $color-purple;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-error: $color-red;

/**
 * --------------------------------------------------------------------------------------
 *  Shadows
 * --------------------------------------------------------------------------------------
 */
$ui-box-shadow: 0 2px 3px rgba($color-bg-dark, .1) !default;
$ui-box-shadow-dark: 0 5px 13px rgba(#000, .1) !default;

/**
 * --------------------------------------------------------------------------------------
 *  Scrollbars
 * --------------------------------------------------------------------------------------
 */
$scroll-bg: #fff;
$scroll-track: $color-border;
$scroll-track-active: darken($color-border, 10%);
$scroll-track-inactive: $color-border;
