/**
 * Fonts Variables
 */
$font-size: 1em;

$font-family: 'Open Sans', 'Roboto', Helvetica, sans-serif !default;
$font-family-headings: 'Open Sans', 'Roboto', Helvetica, sans-serif !default;
$font-mono: 'Fira Mono', Menlo, Monaco, Consolas, 'Courier New', monospace !default;

@mixin font-optimize {
  -moz-font-feature-settings: 'kern=1,liga=1,calt=1';
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
