@mixin component {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}


@mixin scrollbar($width: 10px, $height: 8px) {
    &::-webkit-scrollbar {
        width: $width;
        height: $height;

        &-track {
            background: $scroll-bg;
        }

        &-thumb {
            border-radius: 5px;
            box-shadow: inset 0 0 0 2px $scroll-bg;
            background: $scroll-track;

            &:window-inactive {
                background: $scroll-track-inactive;
            }
        }
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scroll-track-active !important;
    }
}


@mixin selection {
    &::selection {
        @content;
    }
    &::-moz-selection {
        @content;
    }
}


@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    .placeholder {
        @content;
    }
}


@mixin clear($legacy: false) {
    @if $legacy {
        &:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            overflow: hidden;
            visibility: hidden;
        }
        *zoom: 1;
    } @else {
        &:after {
            display: table;
            width: 100%;
            content: '';
            clear: both;
        }
    }
}
