@import "support/scrollbar";

@mixin component {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

@mixin clear($legacy: false) {
  @if $legacy {
    &:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    *zoom: 1;
  } @else {
    &:after {
      display: table;
      width: 100%;
      content: '';
      clear: both;
    }
  }
}
