
blockquote {
    box-shadow: 0 0 0 2px $color-extra-light-gray;
    background: $color-extra-light-gray;
    border-radius: 3px;
    font-size: 14px;
    font-style: italic;
    color: rgba($color-text, .7);
    margin: 10px 0;
    padding: 10px 25px;
    line-height: 23px;
    min-height: 24px;
    box-sizing: border-box;
    @include clear;

    p {
        margin: 0 !important;
        padding: 0 !important;
    }

    &.warn,
    &.info {
        padding: 10px 20px;
        color: #fff;

        code {
            background: rgba($color-bg-dark, .2) !important;
            color: #fff !important;
            font-weight: bold;
        }

        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                color: $color-border;
            }
        }
    }

    &.warn {
        background: $color-red;
        box-shadow: 0 0 0 2px $color-red;
    }

    &.info {
        background: $color-blue;
        box-shadow: 0 0 0 2px $color-blue;
    }
}
