.hljs-comment {
    color: $color-text-placeholder
}

.hljs-meta {
    color: #969896;
}

.hljs-variable {
    color: $color-blue;
}

.hljs-keyword,
.hljs-quote,
.hljs-emphasis,
.hljs-strong,
.hljs-template-variable,
.hljs-arrow {
    color: $color-red;
}

.hljs-attr,
.hljs-type {
    color: $color-purple;
}

.hljs-literal {
    color: $color-dark-blue;
}

.hljs-string,
.hljs-number {
    color: $color-green;
}

.hljs-symbol {
    color: #0086b3
}

.hljs-bullet {
    color: #0086b3
}

.hljs-params {
    color: rgba(15, 32, 45, .9)
}

.hljs-section {
    color: #63a35c
}

.hljs-name {
    color: #63a35c
}

.hljs-tag {
    color: #333
}

.hljs-title {
    color: $color-purple;
}

.hljs-wrapper {
    color: $color-pink;
    font-weight: bold;
}

.hljs-function,
.hljs-method {
    color: $color-purple;
}

.hljs-builtin-name {
    color: brown
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec
}

.hljs-link {
    text-decoration: underline
}

*[data-language="yml"] {
    .hljs-attr {
        color: #22863a
    }
}
