.hljs-comment {
    color: $color-text-placeholder
}

.hljs-meta {
    color: #969896
}

.hljs-variable {
    color: $color-blue;
}

.hljs-arrow {
    color: #f25c54
}

.hljs-template-variable {
    color: #f25c54
}

.hljs-strong {
    color: #f25c54
}

.hljs-emphasis {
    color: #f25c54
}

.hljs-quote {
    color: #f25c54
}

.hljs-keyword {
    color: #f25c54
}

.hljs-selector-tag {
    color: #f25c54
}

.hljs-type {
    color: #f25c54
}

.hljs-literal {
    color: #0086b3
}

.hljs-string {
    color: $color-green;
}

.hljs-symbol {
    color: #0086b3
}

.hljs-bullet {
    color: #0086b3
}

.hljs-attribute {
    color: #0086b3
}

.hljs-params {
    color: rgba(15, 32, 45, .9)
}

.hljs-section {
    color: #63a35c
}

.hljs-name {
    color: #63a35c
}

.hljs-tag {
    color: #333
}

.hljs-title {
    color: $color-purple;
}

.hljs-function,
.hljs-method {
    color: $color-purple;
}

.hljs-selector-id {
    color: #7232c5
}

.hljs-selector-class {
    color: #7232c5
}

.hljs-selector-attr {
    color: #7232c5
}

.hljs-selector-pseudo {
    color: #7232c5
}

.hljs-built_in {
    color: #2a7ed3
}

.hljs-builtin-name {
    color: brown
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec
}

.hljs-link {
    text-decoration: underline
}

*[data-language="yml"] {
    .hljs-attr {
        color: #22863a
    }
}
