
/**
 * <transition name="transition-dropdown">
 */

.transition-dropdown {
    &-enter-active,
    &-leave-active {
        opacity: 1;
        transform: translateY(0) scale(1);
        transition:
            transform .2s $ui-animation-bounce,
            opacity .2s ease;
    }

    &-leave-to,
    &-enter {
        opacity: 0 !important;
        transform: translateY(-25px) scale(.8);
    }
}


/**
 * <transition name="transition-fade">
 */

.transition-fade {
    &-enter-active,
    &-leave-active {
        opacity: 1;
        transition: .5s opacity .5s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
        transition: .3s opacity 0s;
    }
}


/**
 * <transition name="transition-page">
 */

.transition-page {
    &-enter-active,
    &-leave-active {
        opacity: 1;
        transform: translateY(0);
        transition: transform .5s, opacity .5s, max-height .5s;
        max-height: 1000vh;
    }

    &-leave-to,
    &-enter {
        opacity: 0 !important;
        position: absolute;
        max-height: 90vh;
    }

    &-enter {
        transform: translateY(-20px);
    }

    &-leave-to {
        transform: translateY(100px);
    }
}
