/**
 * <transition name="fade">
 */
.fade {
    &-enter-active,
    &-leave-active {
        opacity: 1;
        transition: .5s opacity .5s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }
}



/**
 * <transition name="page-loading">
 */

.page-loading {
    &-enter-active,
    &-leave-active {
        opacity: 1;
        transform: translateY(0);
        transition: transform .5s, opacity .5s;
    }

    &-leave-to,
    &-enter {
        opacity: 0 !important;
        position: absolute;
    }

    &-enter {
        transform: translateY(-20px);
    }

    &-leave-to {
        transform: translateY(100px);
    }
}
