/**
 * --------------------------------------------------------------------------------------
 *  Main named colors
 * --------------------------------------------------------------------------------------
 */
$color-red:     #ff4a22 !default;
$color-orange:  #f4645f !default;
$color-yellow:  #d9a910 !default;
$color-green:   #24a235 !default;
$color-blue:    #64b5f6 !default;
$color-purple:  #6f4ca5 !default;
$color-pink:    #ba6380 !default;

/**
 * --------------------------------------------------------------------------------------
 *  Grayscale colors list
 * --------------------------------------------------------------------------------------
 */
$color-black:               desaturate(#201f3d, 10%) !default;
$color-light-black:         desaturate(#353157, 10%) !default;
$color-extra-light-black:   desaturate(#494769, 10%) !default;
$color-silver:              desaturate(#8785a6, 10%) !default;
$color-light-silver:        desaturate(#9c99bf, 10%) !default;
$color-extra-light-silver:  desaturate(#bfbfd9, 10%) !default;
$color-gray:                desaturate(#d4d3e5, 10%) !default;
$color-light-gray:          desaturate(#e9e6f2, 10%) !default;
$color-extra-light-gray:    desaturate(#f1f0f7, 10%) !default;
$color-dark-white:          desaturate(#fafafc, 10%) !default;
$color-white:               desaturate(#fff   , 10%) !default;

/**
 * --------------------------------------------------------------------------------------
 *  Semantic color names
 * --------------------------------------------------------------------------------------
 */
$color-bg:            $color-dark-white;                    // UI background support color
$color-text:          $color-extra-light-black;             // Main text color
$color-description:   desaturate($color-light-silver, 10%); // Main description color
$color-border:        $color-light-gray;                    // Elements border color
$color-border-hover:  $color-gray;                          // Element border color while element is hovered
$color-border-focus:  $color-orange;                        // Element border color while element is focused

//
// Disabled components
//
$color-disabled-border: $color-extra-light-silver;    // Borders color
$color-disabled-body:   $color-light-silver;          // Text inside disabled element
$color-disabled-bg:     $color-light-gray;            // Background color of disabled element
$color-disabled-text:   $color-extra-light-silver;    // Text outside disabled element

//
// Disabled "filled" components
//
$color-disabled-filled-border: $color-light-silver;        // Borders color
$color-disabled-filled-body:   $color-dark-white;          // Text inside disabled element
$color-disabled-filled-bg:     $color-light-silver;        // Background color of disabled element
$color-disabled-filled-text:   $color-extra-light-silver;  // Text outside disabled element

//
// Main color
//
$color-main: $color-purple !default;
$color-main-hover: lighten($color-purple, 2%) !default;
$color-main-text: desaturate(darken($color-purple, 20%), 20%) !default;

//
// Color for "danger" elements, like "Alert Label"
//
$color-alert: $color-red !default;
$color-alert-hover: lighten($color-red, 2%) !default;
$color-alert-text: desaturate(darken($color-red, 5%), 15%) !default;

//
// Color for warnings
//
$color-warning: $color-yellow !default;
$color-warning-hover: lighten($color-yellow, 2%) !default;
$color-warning-text: desaturate(darken($color-yellow, 5%), 15%) !default;

//
// Color for successful notifications
//
$color-success: $color-green !default;
$color-success-hover: lighten($color-green, 2%) !default;
$color-success-text: desaturate(darken($color-green, 5%), 15%) !default;

//
// Shadows
//
$ui-box-shadow: 0 5px 13px rgba($color-black, .1) !default;
